.bs-all{background-size: 100%;}
.bs-half{background-size: 100%;}

.bc-fff{background-color: #fff;}
.bc-primary {background-color: #409eff;}
.bc-1e83d3 {background-color: #1e83d3;}
.bc-6bafe3 {background-color: #6bafe3;}
.bc-b6de16 {background-color: #b6de16;}
.bc-fdde51 {background-color: #FDDE51;}
.bc-daf0dc {background-color: #DAF0DC;}
.bc-t{background-color: transparent;}

.bc-success {background-color: #67c23a;}
.bc-warning {background-color: #eb9e05;}
.bc-danger {background-color: #fa5555;}
.bc-fe4e63{background-color: #fe4e63;}
.bc-info {background-color: #878d99;}

.bc-999{background-color:#eee;}
.bc-aaa{background-color:#eee;}
.bc-bbb{background-color:#eee;}
.bc-ccc{background-color:#eee;}
.bc-ddd{background-color:#eee;}
.bc-f1{background-color:#f1f1f1;}
.bc-f2{background-color:#f2f2f2;}
.bc-f3{background-color:#f3f3f3;}
.bc-f4{background-color:#f4f4f4;}
.bc-f5{background-color:#f5f5f5;}
.bc-f6{background-color:#f6f6f6;}
.bc-f7{background-color:#f7f7f7;}
.bc-f8{background-color:#f8f8f8;}
.bc-f9{background-color:#f9f9f9;}
.bc-fa{background-color:#fafafa;}
.bc-fb{background-color:#fbfbfb;}
