.h-all{height: 100%;}
.h-half{height: 50%}
.h-1{height:1px;}
.h-2{height:2px;}
.h-3{height:3px;}
.h-4{height:4px;}
.h-5{height:5px;}
.h-6{height:6px;}
.h-7{height:7px;}
.h-8{height:8px;}
.h-9{height:9px;}
.h-10{height:10px;}
.h-11{height:11px;}
.h-12{height:12px;}
.h-13{height:13px;}
.h-14{height:14px;}
.h-15{ height:15px;}
.h-16{ height:16px;}
.h-17{ height:17px;}
.h-18{ height:18px;}
.h-19{ height:19px;}
.h-20{height:20px;}
.h-25{height:25px;}
.h-30{height:30px;}
.h-35{height:35px;}
.h-40{height:40px;}
.h-45{height:45px;}
.h-50{height:50px;}
.h-60{height:60px;}
.h-70{height:70px;}
.h-80{height:80px;}
.h-90{height:90px;}
.h-100{height:100px;}
.h-150{height:150px;}
.h-200{height:200px;}
.h-250{height:250px;}
.h-300{height:300px;}
.h-350{height:350px;}
.h-400{height:400px;}
.h-500{height:500px;}
.h-600{height:600px;}
.h-700{height:700px;}
.h-800{height:800px;}

.ha-15{max-width:15px;}
.ha-16{max-width:16px;}
.ha-17{max-width:17px;}
.ha-18{max-width:18px;}
.ha-19{max-width:19px;}
.ha-20{max-width:20px;}
.ha-25{max-width:25px;}
.ha-30{max-width:30px;}
.ha-35{max-width:35px;}
.ha-40{max-width:40px;}
.ha-45{max-width:45px;}
.ha-50{max-width:50px;}
.ha-60{max-width:60px;}
.ha-70{max-width:70px;}
.ha-80{max-width:80px;}
.ha-90{max-width:90px;}
.ha-100{max-width:100px;}
.ha-150{max-width:150px;}
.ha-200{max-width:200px;}
.ha-250{max-width:250px;}
.ha-300{max-width:300px;}
.ha-350{max-width:350px;}
.ha-400{max-width:400px;}
.ha-500{max-width:500px;}
.ha-600{max-width:600px;}
.ha-700{max-width:700px;}
.ha-800{max-width:800px;}

.hi-15{min-width:15px;}
.hi-16{min-width:16px;}
.hi-17{min-width:17px;}
.hi-18{min-width:18px;}
.hi-19{min-width:19px;}
.hi-20{min-width:20px;}
.hi-25{min-width:25px;}
.hi-30{min-width:30px;}
.hi-35{min-width:35px;}
.hi-40{min-width:40px;}
.hi-45{min-width:45px;}
.hi-50{min-width:50px;}
.hi-60{min-width:60px;}
.hi-70{min-width:70px;}
.hi-80{min-width:80px;}
.hi-90{min-width:90px;}
.hi-100{min-width:100px;}
.hi-150{min-width:150px;}
.hi-200{min-width:200px;}
.hi-250{min-width:250px;}
.hi-300{min-width:300px;}
.hi-350{min-width:350px;}
.hi-400{min-width:400px;}
.hi-500{min-width:500px;}
.hi-600{min-width:600px;}
.hi-700{min-width:700px;}
.hi-800{min-width:800px;}

