.lh-all{
  height: 100%;
}
.lh-half{
  height: 50%;
}
.lh-20{
  line-height: 20px
}
.lh-12{
  line-height: 12px
}
.lh-13{
  line-height: 13px
}
.lh-14{
  line-height: 14px
}
.lh-15{
  line-height: 15px
}
.lh-16{
  line-height: 16px
}
.lh-17{
  line-height: 17px
}
.lh-18{
  line-height: 18px
}
.lh-19{
  line-height: 19px
}
.lh-20{
  line-height: 20px
}
.lh-21{
  line-height: 21px
}
.lh-22{
  line-height: 22px
}
.lh-23{
  line-height: 23px
}
.lh-24{
  line-height: 24px
}
.lh-25{
  line-height: 25px
}
.lh-26{
  line-height: 26px
}
.lh-27{
  line-height: 27px
}
.lh-28{
  line-height: 28px
}
.lh-29{
  line-height: 29px
}
.lh-30{
  line-height: 30px
}