.hand{cursor: pointer;}
.inline-block {display: inline-block;}
.block {display: block;}
.none {display: none;}

.line-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-line-break: auto;
  -webkit-box-orient: vertical;
}

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-line-break: auto;
  -webkit-box-orient: vertical;
}


.of-auto {overflow: auto;}
.of-hidden {overflow: hidden;}
.of-inherit {overflow: inherit;}
.of-scroll {overflow: scroll;}
.relative {position: relative;}
.absolute { position: absolute;}
.fixed {position: fixed;}

/*box-shadow*/
.sha-1{
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

/* 不换行 */
.nowrap{
  white-space:nowrap;
}

/* 强行换行 */
.wrap{
  word-wrap: break-word;
  word-break:break-all;
}

.fl {
  float:left
}
.fr {
  float:right
}

.clearfix {
  display:inline-table;
  display:block;
  zoom:1
}
.clearfix:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden
}

.wh55{
  width: 55px;
  height: 55px;
  border-radius: 5px;
}
.wh60{
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.wh65{
  width: 65px;
  height: 65px;
  border-radius: 5px;
}
.wh70{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}