.w-all{width: 100%;}
.w-half{width: 50%}
.w-1{width:1px;}
.w-2{width:2px;}
.w-3{width:3px;}
.w-4{width:4px;}
.w-5{width:5px;}
.w-6{width:6px;}
.w-7{width:7px;}
.w-8{width:8px;}
.w-9{width:9px;}
.w-10{width:10px;}
.w-11{width:11px;}
.w-12{width:12px;}
.w-13{width:13px;}
.w-14{width:14px;}
.w-15{ width:15px;}
.w-16{ width:16px;}
.w-17{ width:17px;}
.w-18{ width:18px;}
.w-19{ width:19px;}
.w-20{width:20px;}
.w-25{width:25px;}
.w-30{width:30px;}
.w-35{width:35px;}
.w-40{width:40px;}
.w-45{width:45px;}
.w-50{width:50px;}
.w-60{width:60px;}
.w-70{width:70px;}
.w-80{width:80px;}
.w-90{width:90px;}
.w-100{width:100px;}
.w-150{width:150px;}
.w-200{width:200px;}
.w-250{width:250px;}
.w-300{width:300px;}
.w-350{width:350px;}
.w-400{width:400px;}
.w-500{width:500px;}
.w-600{width:600px;}
.w-700{width:700px;}
.w-800{width:800px;}

.wa-15{max-width:15px;}
.wa-16{max-width:16px;}
.wa-17{max-width:17px;}
.wa-18{max-width:18px;}
.wa-19{max-width:19px;}
.wa-20{max-width:20px;}
.wa-25{max-width:25px;}
.wa-30{max-width:30px;}
.wa-35{max-width:35px;}
.wa-40{max-width:40px;}
.wa-45{max-width:45px;}
.wa-50{max-width:50px;}
.wa-60{max-width:60px;}
.wa-70{max-width:70px;}
.wa-80{max-width:80px;}
.wa-90{max-width:90px;}
.wa-100{max-width:100px;}
.wa-150{max-width:150px;}
.wa-200{max-width:200px;}
.wa-250{max-width:250px;}
.wa-300{max-width:300px;}
.wa-350{max-width:350px;}
.wa-400{max-width:400px;}
.wa-500{max-width:500px;}
.wa-600{max-width:600px;}
.wa-700{max-width:700px;}
.wa-800{max-width:800px;}

.wi-15{min-width:15px;}
.wi-16{min-width:16px;}
.wi-17{min-width:17px;}
.wi-18{min-width:18px;}
.wi-19{min-width:19px;}
.wi-20{min-width:20px;}
.wi-25{min-width:25px;}
.wi-30{min-width:30px;}
.wi-35{min-width:35px;}
.wi-40{min-width:40px;}
.wi-45{min-width:45px;}
.wi-50{min-width:50px;}
.wi-60{min-width:60px;}
.wi-70{min-width:70px;}
.wi-80{min-width:80px;}
.wi-90{min-width:90px;}
.wi-100{min-width:100px;}
.wi-150{min-width:150px;}
.wi-200{min-width:200px;}
.wi-250{min-width:250px;}
.wi-300{min-width:300px;}
.wi-350{min-width:350px;}
.wi-400{min-width:400px;}
.wi-500{min-width:500px;}
.wi-600{min-width:600px;}
.wi-700{min-width:700px;}
.wi-800{min-width:800px;}